[submodule "SpliceTransformer"]
	path = SpliceTransformer
	url = git@github.com:NNeuralDynamics/SpliceTransformer.git
[submodule "hyena-dna"]
	path = hyena-dna
	url = git@github.com:NNeuralDynamics/hyena-dna.git
[submodule "RiNALMo"]
	path = RiNALMo
	url = git@github.com:NNeuralDynamics/RiNALMo.git
